.workshop-page {
  min-height: 100vh;
  width: 100%;
  background-color: #191A20;
  padding: 80px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.workshop-content{
  flex: 1;
  padding-top: 18px;
}

.calendar-wrapper {
  background: #242424;
  border-radius: 12px;
  overflow: hidden;
}

.month-selector {
  padding: 16px;
  background: #242424;
}

.month-selector h5 {
  color: #ffffff;
  margin: 0;
}

.workshops-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Show exactly 3 columns */
  gap: 24px;
  max-width: 100%;
}

.workshop-item {
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
}

.pagination-container {
  margin: none;
  display: flex;
  justify-content: center;

}

/* Tablet view - 2 columns */
@media (max-width: 1024px) {
  .workshop-page{
    padding: 40px;
  }
  .workshops-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile view - 1 column */
@media (max-width: 768px) {
  .workshop-page{
    padding: 32px;
  }
  .workshops-grid {
    grid-template-columns: 1fr;
  }
  
}

@media (max-width: 768px) {
  .workshop-page{
    padding: 40px;
  }
  .workshop-content {
    padding: 16px;
  }

  .workshops-grid {
    grid-template-columns: 1fr;
  }

  .workshop-item {
    height: 100%;
  }
}

@media (max-width: 480px) {
  .workshop-page{
    padding: 10px;
  }
  .workshop-content {
    padding: 12px;
  }

  .workshop-item {
    height: 100%;
  }
}