.bg-radial-gradients {
  background: radial-gradient(
    300px circle at 50% -70px,
    rgba(69, 233, 178, 0.15) 30%,
    rgba(46, 205, 155, 0.1) 50%,
    transparent 70%
  );
  height: 200px;  
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.ant-input {
  background: #1E1F23 !important;
}

