.article-details {
  width: 100%;
  padding: 40px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blog-card {
  max-width: 100%;
  overflow: hidden;
  padding: 0px 120px;
  background-color: transparent !important;
  height: 100vh;
}

.blog-card__image-container {
  height: 500px;
  width: 1200px;
  background-size: cover;
  background-position: center;
  border-radius: 18px;
}

.blog-card__content {
  display: flex;
  flex-direction: column;
}

.blog-card__title {
  margin: 0 !important;
  font-size: 48px !important;
  color: #1a1a1a;
  font-weight: 700;
  padding: 8px 0;
}

.blog-card__meta {
  display: flex;
  align-items: center;
  color: #ffffff9b;
  font-size: 18px;
  font-weight: 400;
}

.blog-card__dot {
  margin: 0 8px;
}

.blog-card__excerpt {
  color: #4a4a4a;
  font-size: 16px;
  line-height: 1.6;
  margin-top: 8px;
}

/* Dark mode support */
@media (prefers-color-scheme: dark) {
  .blog-card {
    background: #1f1f1f;
  }

  .blog-card__title {
    color: #ffffff !important;
  }

  .blog-card__excerpt {
    color: #d1d1d1;
  }
}
