.employee-dashboard {
  padding: 80px;
  min-height: 100vh;
  background: transparent;
}

.employee-table {
  background-color: transparent;
  border-radius: 8px;
  overflow-x: auto;
  width: 100%;
}

.remove-employee-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 24px 0px;
  padding-top: 20px;
}

.employee-action-buttons button {
  margin-left: 14px;
  padding: 8px 16px;
  background: linear-gradient(to bottom, #FFFFFF 0%, #797B87 100%);
  border: none;
  border-radius: 70px;
  color: #191a20;
  font-weight: 500;
  cursor: pointer;
  height: 48px;
  border: none !important;

}



.employee-action-buttons button:hover {
  box-shadow: 2px 4px 4px rgba(175, 173, 173, 0.8) !important;
}

.green-checkbox {
  /* For modern browsers that support accent-color */
  accent-color: transparent;
  width: 18px;
  height: 18px;
}

/* When checked, set accent-color to green */
.green-checkbox:checked {
  accent-color: #00d885;
}

/* Add to your removeEmployee.css file */
.disabled-btn {
  opacity: 0.6;
  cursor: not-allowed !important;
  background-color: #444 !important;
  color: #000000 !important;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
}


/* Add hover effect for enabled button */
.add-employee-btn:not(.disabled-btn):hover {
  background-color: #3DAC70;
  box-shadow: 0 2px 8px rgba(74, 222, 128, 0.3);
}