.slide {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 270px;
  border: 1px solid #585151;
  border-radius: 14px;
  background: #2d2f39;
}

.content {
  background: #2d2f39;
  flex: 1;
}

.content h1 {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  color: #fff;
  margin-bottom: 8px;
}

.content p {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

.background {
  flex: 1;
  position: relative;
  min-height: 200px; /* Adjust this for your desired image height */
}

.background-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius:14px ;
}

.slide-content-wrapper {
  display: flex;
  padding: 16px 10px 24px 10px;
  gap: 16px;
  justify-content: flex-start; 
  align-items: top; 
}

.date-box {
  width: 45px;
  height: 60px;
  flex-shrink: 0;
  border: 1px solid #ffffff;
  border-radius: 8px;
  overflow: hidden;
  margin-right: 0px;

}

.date-day {
  height: 60%;
  background-color: transparent;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
}

.date-month {
  height: 40%;
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
}

.title-time {
  display: flex;
  flex-direction: column;
}

.title-time h1 {
  margin: 0 0 8px 0;
}

.title-time p {
  margin: 0;
  color: rgba(255, 255, 255, 0.7);
}
