.slide {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 230px;
  border: 1px solid #585151;
  border-radius: 14px;
  background: #2d2f39;
}

.content {
  flex: 1;
}

.content h1 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #fff;
}

.content p {
  font-size: 12px;
  font-weight: 400;
  color: #ffffff37;
}

.background {
  flex: 1;
  position: relative;
  min-height: 150px; 
  
}

.background-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius:14px ;
}

.slide-content-wrapper {
  display: flex;
  padding: 8px 10px 8px 14px;
  gap: 8px;
  justify-content: flex-start; 
  align-items: center; 
}

.date-box {
  width: 40px;
  height: 50px;
  flex-shrink: 0;
  border: 1px solid #ffffff;
  border-radius: 8px;
  overflow: hidden;
  margin-right: 0px;

}

.date-day {
  height: 60%;
  background-color: transparent;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}

.date-month {
  height: 40%;
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
}

.title-time {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

/* .title-time h1 {
  margin: 0 0 8px 0;
} */

.title-time p {
  margin: 0;
  color: rgba(255, 255, 255, 0.7);
}
