
.stats-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  width: 100%;
  height: 100%;
  min-height: 300px;
  border-radius: 20px;
  background: linear-gradient(180deg, #2D2F39 0%, #191A20 100%);
  border: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
  overflow: hidden;
}
.user-count{
  font-size: 40px;
  font-weight: 700;
}
.stats-title {
  font-size: 24px !important;
  color: white !important;
  font-weight: 400 !important;
}

.total-number h1 {
  font-size: 48px !important;
  color: white !important;
}

.users-status {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}

.status-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.status-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.status-dot.active {
  background-color: #52c41a;
}

.status-dot.inactive {
  background-color: #ff4d4f;
}

.status-text {
  color: rgba(255, 255, 255, 0.7) !important;
  font-size: 18px !important;
  font-weight: 400 !important;
}

.status-text span {
  color: white;
  font-weight: 400;
}

.last-updated {
  color: rgba(255, 255, 255, 0.454) !important;
  font-size: 14px;
  font-size: 300;
}

@media screen and (max-width: 768px) {
  .stats-container {
    gap: 10px;
  }

  .users-status {
    gap: 70px;
  }

}

@media screen and (max-width: 480px) {
  .stats-card {
    min-height: 300px;
  }

  .users-status {
    row-gap: 10px;
    flex-direction: column;
  }

  .stats-title {
    font-size: 18px !important;
  }
}