.stats-card {
  width: 100%;
  height: 100%;
  min-height: 300px;
  background: linear-gradient(145deg, #2D2F39 0%, #191A20 100%);
  border-radius: 12px;
  border: 1px solid #2c2c2c;
  position: relative;
  overflow: hidden;
}

/* .stats-card::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 300px;
  background: radial-gradient(
    circle at 0% 100%,
    rgba(50, 223, 67, 0.3) 0%,
    rgba(23, 209, 101, 0) 60%
  );
  z-index: 1;
  pointer-events: none;
} */

.stats-card .ant-card-body {
  position: relative;
  z-index: 2;
  padding: 24px;
}

.stats-container {
  font-family: Satoshi, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 24px;
  align-items: center;
  color: white;
}
.user-count{
  font-size: 40px;
  font-weight: 700;
}
.stats-title {
  font-size: 24px !important;
  margin-top: 20px;
  color: white !important;
  font-weight: 500 !important;
}

.total-number h1 {
  font-size: 48px !important;
  color: white !important;
}

.users-status {
  display: flex;
  gap: 70px;
}

.status-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.status-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.status-dot.active {
  background-color: #52c41a;
}

.status-dot.inactive {
  background-color: #ff4d4f;
}

.status-text {
  color: rgba(255, 255, 255, 0.7) !important;
  font-size: 18px !important;
  font-weight: 400 !important;
}

.status-text span {
  color: white;
  font-weight: 400;
}

.last-updated {
  color: rgba(255, 255, 255, 0.454) !important;
  font-size: 14px;
  margin-top: 18px;
  font-size: 300;
}

@media screen and (max-width: 768px) {
  .stats-container {
    gap: 10px;
  }

  .users-status {
    gap: 70px;
  }

}

@media screen and (max-width: 480px) {
  .stats-card {
    min-height: 300px;
  }

  .users-status {
    row-gap: 10px;
    flex-direction: column;
  }

  .stats-title {
    font-size: 18px !important;
  }
}