/* Article container styles */
.article-section {
  padding: 40px 80px;
}

/* Custom Tabs Styles */
.custom-tabs {
  display: flex;
  border-bottom: 1px solid #4b5563;
  margin-bottom: 24px;
}

.custom-tab {
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 500;
  color: #b1b3c0;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.custom-tab.active {
  color: white;
  border-bottom: 2px solid white; /* Underline for active tab */
}

/* Optional: Styles for the scrollable content */
.scrollable-content {
  min-height: 200px;
}

.scrollable-content p {
  color: #b1b3c0;
}

/* Pagination container styles */
.pagination-container {
  display: flex;
  justify-content: flex-end;
  padding: 24px 0;
  margin-top: 32px;
}

.no-tools {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.no-tools .ant-empty-description {
  color: #b1b3c0;
  font-size: 18px;
}

/* Pagination styles */
.custom-pagination {
  .ant-pagination-item,
  .ant-pagination-prev,
  .ant-pagination-next {
    background: transparent;
    border: 1px solid #4b5563;
    border-radius: 4px;
    margin: 0 4px;

    a {
      color: #e5e7eb;
    }

    &:hover {
      background: #595d64;
      border-color: #00d885;

      a {
        color: #00d885;
      }
    }
  }

  .ant-pagination-item-active {
    background: #00d885;
    border-color: #00d885;

    a {
      color: #191a20;
    }

    &:hover {
      background: #00d885;
      a {
        color: #191a20;
      }
    }
  }

  .ant-pagination-prev,
  .ant-pagination-next {
    .ant-pagination-item-link {
      background: #2a2b32;
      border: 1px solid #4b5563;
      color: #e5e7eb;

      &:hover {
        border-color: #00d885;
        color: #00d885;
      }
    }
  }
}

.custom-tabs .ant-tabs-nav .ant-tabs-tab {
  padding-left: 16px;
  font-size: 16px !important;
  font-weight: 500;
  color: grey;
}

.custom-tabs .ant-tabs-nav .ant-tabs-tab-active {
  color: white !important;
  /* Remove default blue border */
  border-bottom: none !important;
  /* Optionally, add padding bottom to match left padding if desired */
  padding-bottom: 16px;
}

.custom-tabs .ant-tabs-nav-ink-bar {
  background-color: white !important;
  /* Adjust height if needed, so that it aligns with the active tab text spacing */
  height: 2px;
}
