.gauge-container {
  background: radial-gradient(58.93% 58.93% at 50% 0%, #33353F 0%, #191A20 100%);
  border-radius: 1.5rem;
  padding: 1.25rem 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.0625rem solid rgba(255, 255, 255, 0.1);
  position: relative;
  overflow: hidden;
}

.gauge-container::before {
  content: '';
  position: absolute;
  bottom: -40%;
  left: 50%;
  transform: translateX(-50%);
  width: 43.75rem;
  height: 25rem;
  /* background: radial-gradient(
    circle at center,
    rgba(var(--glow-color), 0.3) 0%,
    rgba(var(--glow-color), 0.15) 25%,
    rgba(var(--glow-color), 0.05) 50%,
    transparent 70%
  ); */
  filter: blur(1.25rem);
  pointer-events: none;
  z-index: 0;
}

.gauge-title {
  position: relative;
  z-index: 1;
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}

/* .gauge-wrapper {
  position: relative;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.gauge-status {
  position: relative;
  z-index: 1;
  color: white;
  font-size: 1.25rem;
  font-weight: 500;
  padding-bottom: 0.625rem;
}