.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: #191A20;
  border: 1px solid #2D2F39;
  border-radius: 20px;
  padding: 24px;
  max-width: 400px;
  width: 90%;
  text-align: center;
}

.modal-content h2 {
  color: white;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}

.modal-content p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 24px;
}

.modal-actions {
  display: flex;
  gap: 16px;
  justify-content: space-between;
}

.cancel-button,
.confirm-button {
  flex: 1;
  width: 100%;
  padding: 12px 24px;
  border-radius: 50px;
}

.cancel-button {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #fff;
}

.confirm-button {
  background: #fff;
  color: #000;
  border: none;
}